@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #17B890;
    --cor-destaque: #E98A15;
    --cor-vermelho: #A31621;
    --cor-botao-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 12%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-secundaria);
}

.apresentacao {
    padding:3% 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo-destaque {
    color: var(--cor-destaque);
}

.apresentacao__conteudo__titulo {
    font-size: 2.5rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.main-techs {
    color: var(--cor-destaque);
}

.call-to-action-text {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    margin-top: -6%;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.apresentacao__links__subtitulo {
    margin-bottom: -8px;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-destaque);
    color: var(--cor-secundaria);
    width: 80%;
    padding: 15px 0px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 8px;
    font-family: var(--fonte-secundaria);
    transition: 0.3s;

}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-botao-hover);
    border: 2px solid var(--cor-terciaria);
}

h1 {
    font-weight: bold;
}

span{
    color: var(--cor-secundaria);
    border: 1px solid var(--cor-secundaria);
    padding: 0.01px 3px;
}

a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

a:hover, a:focus {
    color: var(--cor-terciaria);
    transition: 0.2s;
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    text-align: center;
    color: var(--cor-secundaria);
    padding: 20px;
    border: 2px solid var(--cor-vermelho);
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 400;  
}

@media (max-width: 768px) {
    .cabecalho {
        padding: 5%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__links__navegacao {
        font-size: 1rem;
        
    }

}